body {
    width: 65%;
    margin: auto;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 1.3em;
}
h4 {
    font-size: 1.1em;
}
.legendColor {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
    margin-right: 2px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 2em;
    height: 0.9em;
}
.legendText {
    vertical-align: middle;
    font-size: 0.7em;
    margin: auto;
}
.legend {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: auto;
}
.legendItem {
    display: inline-block;
    margin: 5px;
    padding: 2px;
}
.legendItem.hidden {
    background-color: #bbb;
}
.legendItem.hidden:hover {
    background-color: #ccc;
}
.legendItem.shown:hover {
    background-color: #ddd;
}
.graphContent {
    border: 1px solid #ccc;
    border-style: solid;
}
.graph {
    width: 100%;
}
.exampleGraph {
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
}
.details {
    font-size: 0.8em;
}
.updateTime {
    font-size: 0.7em;
}
.title p {
    text-align: center;
    font-size: 1.2em;
}
.tabs {
    overflow: hidden;
    background-color: #ccc; 
}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none !important;
    cursor: pointer;
    padding: 10px;
    width: 50%;
}
.tabs button:focus {
    outline: none !important;
}
.tabs button::-moz-focus-inner {
    outline: none;
    border: 0;
}
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
    outline: none !important;
    background-color: #fff;
}

/* Style the tab content */
.tabcontent {
    position: relative;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.about {
    text-align: left;
}
